* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  
  body {
    background: linear-gradient(
      90deg,
      rgb(8, 71, 23) 0%,
      rgb(44, 204, 79) 100%
    );
  }
  .todo-app {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 520px;
    min-height: 400px;
    background: #011f13;
    text-align: center;
    margin: 128px auto;
    border-radius: 10px;
    padding-bottom: 32px;
  }
  
  h1 {
    margin: 32px 0;
    color: #fff;
    font-size: 24px;
  }
  
  .complete {
    text-decoration: line-through;
    opacity: 0.4;
  }
  
  .todo-form {
    margin-bottom: 32px;
  }
  
  .todo-input {
    padding: 14px 32px 14px 16px;
    border-radius: 4px 0 0 4px;
    border: 2px solid #66750c;
    outline: none;
    width: 320px;
    background: transparent;
    color: white;
  }
  
  .todo-input::placeholder {
    color: white;
  }
  
  .todo-button {
    padding: 16px;
    border: none;
    border-radius: 0 4px 4px 0;
    cursor: pointer;
    outline: none;
    background: linear-gradient(
      90deg,
      #66750c 0%,
      rgb(193, 223, 22) 100%
    );
    color: white;
    text-transform: capitalize;
  }
  
  .todo-input.edit {
    border: 2px solid #bd8113;
  }
  
  .todo-button.edit {
    background: linear-gradient(
      90deg,
      #bd8113 0%,
      rgb(211, 208, 14) 100%
    );
    padding: 16px 22px;
  }
  
  .todo-container {
    display: flex;
    flex-direction: row;
    position: relative;
  }
  
  .todo-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 4px auto;
    color: white;
    background: linear-gradient(
      90deg,
      rgba(255, 118, 20, 1) 0%,
      rgba(255, 84, 17, 1) 100%
    );
  
    padding: 16px;
    border-radius: 5px;
    width: 90%;
  }
  
  .todo-row:nth-child(4n + 1) {
    background: linear-gradient(
      90deg,
      rgb(50, 172, 13) 0%,
      rgb(135, 211, 85) 100%
    );
  }
  
  .todo-row:nth-child(4n + 2) {
    background: linear-gradient(
      90deg,
      rgb(142, 151, 8) 0%,
      rgb(198, 226, 38) 100%
    );
  }
  
  .todo-row:nth-child(4n + 3) {
    background: linear-gradient(
      90deg,
      rgb(116, 62, 12) 0%,
      rgb(165, 110, 38) 100%
    );
  }
  
  .icons {
    display: flex;
    align-items: center;
    font-size: 24px;
    cursor: pointer;
  }
  
  .delete-icon {
    margin-right: 5px;
    color: white;
  }
  
  .edit-icon {
    color: white;
  }

  @media screen and (max-width: 520px) {
    .todo-app {
      width: 80%;
    }
    .todo-input {
      width: 60%;
    }
  }
  
  @media screen and (max-width: 360px) {
    .todo-app {
      width: 90%;
    }

    .todo-input {
      width: 60%;
    }
  
  }